<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Mutual Congreso de Tucumán</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="img/logo.png" rel="icon">
    <link href="img/logo.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="icofont/icofont.min.css" rel="stylesheet">
    <link href="boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="remixicon/remixicon.css" rel="stylesheet">
    <link href="venobox/venobox.css" rel="stylesheet">
    <link href="owl.carousel/owl.carousel.min.css" rel="stylesheet">
    <link href="aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="css/style.css" rel="stylesheet">


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">

            <a href="#hero" class="logo mr-auto"><img src="img/logo.png" alt="" class="img-fluid"></a>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li><a href="#about">Nosotros</a></li>
                    <li><a href="#why-us">Beneficios y Servicios</a></li>
                    <li><a href="#benefits">Descuentos</a></li>
                    <li><a href="#adheredbusinesses">Comercios Adheridos</a></li>
                    <li><a href="https://mcdivisionelectro.mitiendanube.com" target="_blank">Tienda</a></li>
                    <!-- <li><a href="#team">Institucional</a></li> -->
                    <li><a href="#contact">Contacto</a></li>
                    <!-- <li class="drop-down"><a href="">Institucional</a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="drop-down"><a href="#">Deep Drop Down</a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 2</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                        </ul>
                    </li>-->

                </ul>
            </nav><!-- .nav-menu -->

            <a href="https://afiliacion.mutualcongreso.com.ar/?source=social" target="_blank"
                class=" get-started-btn scrollto">Asociate</a>

        </div>
    </header><!-- End Header -->

    <!-- ======= Preview ======= -->

    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                    data-aos="fade-up" data-aos-delay="200">
                    <h1> MUTUAL CONGRESO DE TUCUMÁN</h1>
                    <h2> Nuestra Mutual, en consonancia con valores universales, siempre promueve la ayuda y el
                        crecimiento de
                        sus asociados.</h2>
                    <div class="d-lg-flex">
                        <a href="#about" class="btn-get-started scrollto">Conocenos</a>
                        <a href="https://youtu.be/PxsoUDiKeEY" class="venobox btn-watch-video" data-vbtype="video"
                            data-autoplay="true"> Mira Nuestro Video <i class="icofont-play-alt-2"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="img/hero-img.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>
    </section><!-- End Preview -->

    <div class="btn-whatsapp">
        <a href="https://wa.me/543816049771" target="_blank">
            <img src="img/btn_whatsapp.svg" alt="">
        </a>
    </div>

    <main id="main">

        <!-- ======= About Us  ======= -->

        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Sobre Nosotros</h2>
                </div>
                <div class="row content">
                    <div class="col-lg-12">
                        <h3 align="center">ASOCIACION MUTUAL PARA EL PERSONAL DEL PODER JUDICIAL Y TRABAJADORES</h3>
                        <h3 align="center"> INDEPENDIENTES CONGRESO DE TUCUMAN</h3>
                    </div>
                    <div class="col-lg-6">
                        <p> Dicha institución fue creada el 19 de Marzo de 1998, en el cual hoy posee 1800
                            asociados en todo el paí­s, realizando constante convenios con diversos organismo,
                            nacionales, provinciales, municipales y afines.</p>
                        <p>Abrimos nuestras puertas a todas las personas que desean asociarse y disfrutar de los
                            diversos beneficios que posee la mutual.<br>
                            Desde hace más de 10 años apostamos a un constante esfuerzo y trabajamos en todos los
                            puntos
                            del paí­s, para poder acompañar a cada asociado.</p>
                        <p>Apuntamos a satisfacer las necesidades de todos los asociados, como el de su grupo familiar,
                            difundimos los valores del mutualismo vinculadas a la economía social.</p>

                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <ul>
                            <p>Nuestra visión es continuamente conocer y satisfacer todas las inquietudes de nuestra
                                comunidad: Profesionales, independiente, trabajadores etc.</p>

                            <li><i class="ri-check-double-line"></i> Convocamos a que se integre y sea parte de
                                nuestra
                                comunidad</li>
                            <li><i class="ri-check-double-line"></i> Ofrecemos importantes gama de servicios.</li>
                            <li><i class="ri-check-double-line"></i> Ofrecemos nuevos desafíos y progresos para los
                                asociados.
                            </li>
                            <li><i class="ri-check-double-line"></i> Recurrimos a diversas áreas buscando
                                objetivos.
                            </li>
                            <li><i class="ri-check-double-line"></i> Empatí­zamos: valor que tenemos incorporado,
                                siendo un principio rector en nuestra mutual.</li>
                            <li><i class="ri-check-double-line"></i>Solidaridad: es otro principio rector de nuestra
                                mutual.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12 pt-8 pt-lg-0">
                    <p><br><br>
                        Ofrecemos todo lo que está a nuestro alcance y más.
                        Por dicha razón, queremos que participe y pertenezca a nuestra mutual
                    </p>
                </div>
            </div>
        </section><!-- End About Us Section -->

        <!-- ======= Services ======= -->
        <section id="why-us" class="why-us section-bg">
            <div class="container-fluid" data-aos="fade-up">

                <div class="row">

                    <div
                        class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

                        <div class="content">
                            <h3>Beneficios y Servicios<br>
                                <p><strong>
                                        Nuestra mutual ofrece una serie de beneficios y servicios exclusivos para vos y
                                        tu grupo familiar!
                                </p></strong>
                        </div>

                        <div class="accordion-list">
                            <ul>
                                <li>
                                    <a data-toggle="collapse" class="collapse" href="#accordion-list-1"><span>01</span>
                                        Servicios <i class="bx bx-chevron-down icon-show"></i><i
                                            class="bx bx-chevron-up icon-close"></i></a>
                                    <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">
                                        <p>
                                            Nos focalizamos en optimizar nuestras prestaciones y servicios expandiéndonos en forma reciproca a lo largo y a lo ancho del país. Contamos con una cartera de comercios adheridos en todos los rubros los cuales nos brindan descuentos y ordenes de compra exclusivos a todos nuestros asociados. 
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <a data-toggle="collapse" href="#accordion-list-2" class="collapsed"><span>02</span>
                                        Beneficios <i class="bx bx-chevron-down icon-show"></i><i
                                            class="bx bx-chevron-up icon-close"></i></a>
                                    <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
                                        <p>
                                            Queremos estar presentes en los momentos más importantes y sensibles de tu vida, es por ello que brindamos a todos nuestros asociados subsidios por nacimiento, matrimonio y fallecimiento. Tenemos diversos centros de capacitaciones pensado para el desarrollo laboral y profesional de nuestros asociados. Ayuda escolar y sorteos mensuales.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
                        style='background-image: url("img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">
                        &nbsp;</div>
                </div>

            </div>
        </section><!-- Services -->

        <!-- ======= Protomition Section  ======= -->

        <section id="" class="why-us section">
            <div class="container-fluid" data-aos="fade-up">

                <div class="row">

                    <div
                        class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

                        <div class="section-title col-lg-12">
                            <h2>Mutual Congreso de Tucumán ahora más cerca tuyo.</h2>
                            </h2>Con nuestra aplicación móvil disponible para plataformas Android y Apple podras estar en contacto permanente con nosotros: Consultar tu cuenta corriente, canjear cupones de descuentos para comprar en todos nuestros comercios adheridos y estar actualizado de todas las novedades que tenemos para vos.</h2>
                        </div>
                        <table>
                            <tr>
                                <td></td><td></td>
                                <td> <a href="https://play.google.com/store/apps/details?id=ar.com.ingeit.mutualCongreso"
                                        target="_blank">
                                        <img src="img/playstore2.svg" alt=""></a>
                                    </td>
                                <td> <a href="https://apps.apple.com/ar/app/mutual-congreso/id1500813233"
                                        target="_blank"><img src="img/app-store.svg" alt=""></a>
                                    </td>
                                    <td></td><td></td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-lg-5 align-items-center order-1 order-lg-2 img"
                        style='background-image: url("img/apk.png");' data-aos="zoom-in" data-aos-delay="150">
                        &nbsp;</div>
                </div>

            </div>
        </section><!-- Services -->

        <!-- Promotion Section -->

        <!-- ======= Benefits Section ======= -->
        <section id="benefits" class="portfolio section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Descuentos</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit
                        sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias
                        ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>


                <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="flip-up" data-aos-delay="100">
                    <li data-filter="*" class="filter-active">Todos</li>
                    <li data-filter=".filter-app">Descuentos</li>
                    <li data-filter=".filter-card">Capacitaciones</li>
                    <li data-filter=".filter-turismo">Turismo</li>
                    <li data-filter=".filter-subsidio">Subsidios </li>
                </ul>


                <div class="row portfolio-container" data-aos="flip-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-img"><img src="img/portfolio/descuento2.png" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-info">
                            <h4>Shark Informatica</h4>
                            <p>10% De Descuento en todos los productos</p>
                            <p>Todos los dÃƒÂ­as</p>
                            <a href="img/portfolio/descuento2.png" data-gall="portfolioGallery"
                                class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                    class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-img"><img src="img/portfolio/descuento3.png" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-info">
                            <h4>Estacionamiento Pilar</h4>
                            <p> Pagas 1 horas y te quedas 2</p>
                            <p>Pagas 3 horas y te quedas 4.</p>
                            <a href="img/portfolio/descuento3.png" data-gall="portfolioGallery"
                                class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                    class="bx bx-link"></i></a>
                        </div>
                    </div>




                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img"><img src="img/portfolio/capacitacion1.PNG" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-info">
                            <h4>Capacitacion 1</h4>
                            <p>Capacitaciones</p>
                            <a href="img/portfolio/capacitacion1-detail.png" data-gall="portfolioGallery"
                                class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                    class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img"><img src="img/portfolio/capacitacion2.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-info">
                            <h4>Capacitacion 2</h4>
                            <p>Capacitaciones</p>
                            <a href="img/portfolio/capacitacion2-detail.jpg" data-gall="portfolioGallery"
                                class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                    class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img"><img src="img/portfolio/capacitacion3.png" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-info">
                            <h4>Capacitacion 3</h4>
                            <p>Capacitaciones</p>
                            <a href="img/portfolio/capacitacion3-detail.png" data-gall="portfolioGallery"
                                class="venobox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                    class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-turismo">
                        <div class="portfolio-img"><img src="img/portfolio/turismo1.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-info">
                            <h4>Turismo 1</h4>
                            <p>Turismo</p>
                            <a href="" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i
                                    class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                    class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-turismo">
                        <div class="portfolio-img"><img src="img/portfolio/turismo2.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-info">
                            <h4>Turismo 2</h4>
                            <p>Turismo</p>
                            <a href="img/portfolio/turismo2-detail.png" data-gall="portfolioGallery"
                                class="venobox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                    class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-turismo">
                        <div class="portfolio-img"><img src="img/portfolio/turismo3.png" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-info">
                            <h4>Turismo 3</h4>
                            <p>Turismo</p>
                            <a href="img/portfolio/turismo3-detail.png" data-gall="portfolioGallery"
                                class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                    class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-subsidio">
                        <div class="portfolio-img"><img src="img/portfolio/subsidio1.PNG" class=" img-fluid" alt="">
                        </div>
                        <div class="portfolio-info">
                            <h4>Subsidio 1</h4>
                            <p>Subsidio</p>
                            <a href="img/portfolio/subsidio1.PNG" data-gall="portfolioGallery"
                                class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                    class="bx bx-link"></i></a>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Benefits Section -->

        <!-- ======= adhered businesses ======= -->
        <section id="adheredbusinesses" class="cliens section">
            <div class="container">

                <div class="row" data-aos="zoom-in">

                    <div class=col-lg-12 col=md-12 col-12 d-flex align-items-center justify-content-center>
                        <h3>Comercios Adheridos</h3>
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client1.jpg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client2.jpg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client3.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client4.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client5.jpg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client6.jpg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client7.jpg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client8.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client9.png" class="img-fluid" alt=""> </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client10.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client11.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client12.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client13.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client14.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client15.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client16.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client17.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client18.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client19.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client20.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client21.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client22.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client23.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client24.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client25.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client26.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client27.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="img/clients/client28.jpeg" class="img-fluid" alt="">
                    </div>
                </div>
        </section><!-- End Cliens adheredbusinesses -->

        <!-- ======= Asociate ======= -->
        <section id="" class="cta">
            <div class="container" data-aos="zoom-in">

                <div class="row">
                    <div class="col-lg-9 text-center text-lg-left">
                        <h3>Asociate</h3>
                        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.</p>
                    </div>
                    <div class="col-lg-3 cta-btn-container text-center">
                        <a class="cta-btn align-middle" href="https://afiliacion.mutualcongreso.com.ar/?source=social"
                            target="_blank class=">Asociate</a>
                    </div>
                </div>

            </div>
        </section><!-- End Asociate -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contacto</h2>
                    <p>Rellena este formulario con tus datos y dejanos tu consulta!</p>
                </div>

                <div class="row">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="icofont-google-map"></i>
                                <h4>Direccion: Lamadrid 456 3A</h4>
                                <p>SM de Tucuman, Tucuman, CP 4000</p>
                            </div>

                            <div class="email">
                                <i class="icofont-envelope"></i>
                                <h4>Correo Electronico:</h4>
                                <p>info@mutualcongreso.com.ar</p>
                            </div>

                            <div class="phone">
                                <i class="icofont-phone"></i>
                                <h4>Telefono:</h4>
                                <a href="http://wa.me/543816049771" target="_blank">
                                    <p>+54 9 381 604 9771</p>
                                </a></p>
                            </div>

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3560.0584339683023!2d-65.20789648511864!3d-26.838093683159737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94225c0ed5a580e9%3A0xcd2a432b379bf551!2sGral.%20Lamadrid%20456%2C%20T4000BEJ%20San%20Miguel%20de%20Tucum%C3%A1n%2C%20Tucum%C3%A1n!5e0!3m2!1ses-419!2sar!4v1599094079203!5m2!1ses-419!2sar"
                                frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                        </div>


                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name">Nombre y Apellido</label>
                                    <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4"
                                        data-msg="Ingrese al Menos Caracteres" />
                                    <div class="validate"></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Correo Electronico</label>
                                    <input type="email" class="form-control" name="email" id="email" data-rule="email"
                                        data-msg="Por favor ingrese un Correo Valido" />
                                    <div class="validate"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Asunto</label>
                                <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4"
                                    data-msg="Ingrese como minimo 8 Caracteres" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <label for="name">Mensaje</label>
                                <textarea class="form-control" name="message" rows="10" data-rule="required"
                                    data-msg="Describa su inquietud"></textarea>
                                <div class="validate"></div>
                            </div>
                            <div class="mb-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Tu mensaje ah sido Enviado, gracias!</div>
                            </div>
                            <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-bottom clearfix">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Mutual Congreso</h3>
                        <p>
                            Lamadrid 456 3A <br>
                            SM de Tucuman<br>
                            Tucuman Argentina <br><br>
                            <strong>Telefono:</strong> +54 9 381 4585 1055<br>
                            <strong>Correo Electronico:</strong> info@mutualcongreso.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Enlaces Utiles</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#hero">Inicio</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#about">Nosotros</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#why-us">Beneficios y Servicios</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#benefits">Descuentos</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#adheredbusinesses"">Comercios Adheridos</a></li>
                            <li><i class=" bx bx-chevron-right"></i> <a
                                        href="https://mcdivisionelectro.mitiendanube.com" target="_blank">Tienda</a>
                            </li>
                            <!-- <li><i class="bx bx-chevron-right"></i> <a href="#team">Institucional</a></li>-->
                            <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contacto</a></li>

                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Escribinos para conocer sobre</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Prestamos</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Legal</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Asesoria</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Redes Sociales</h4>
                        <p>Seguinos en nuestras redes para enterarte de los ultimos beneficios</p>
                        <div class="social-links mt-3">
                            <a href="https://www.facebook.com/MutualCongreso/" target="_blank" class="facebook"><i
                                    class="bx bxl-facebook"></i></a>
                            <a href="https://www.instagram.com/mutual_congreso/" target="_blank" class="instagram"><i
                                    class="bx bxl-instagram"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Mutual Congreso</span></strong>. Todos los derechos Reservados
            </div>
            <div class="credits">
                Realizado por <a href="">Ezequiel</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->

    <script src="jquery/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="jquery.easing/jquery.easing.min.js"></script>
    <script src="php-email-form/validate.js"></script>
    <script src="waypoints/jquery.waypoints.min.js"></script>
    <script src="isotope-layout/isotope.pkgd.min.js"></script>
    <script src="venobox/venobox.min.js"></script>
    <script src="owl.carousel/owl.carousel.min.js"></script>
    <script src="aos/aos.js"></script>

    <!-- Template Main JS File -->

    <script src="js/main.js"></script>

</body>

</html>
